My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        0
      ],
      "id": "2dc6d27f-3d15-40b1-b9ca-d51b89bbd411",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM investors;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        0
      ],
      "id": "a13e01ee-8f68-46b7-b47e-6e283d1402ab",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "9t7J3QLTHtx9drHE",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        528,
        -112
      ],
      "id": "f537ab24-38ca-449e-9624-034436e2b487",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:8080/generate-report-by-id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        224
      ],
      "id": "7ccb28fc-ebb8-4cf9-9a99-843889d5a0a0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "={{ $json.pdf_url }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        224
      ],
      "id": "ee612eb3-3061-4d61-a23f-b288184cbf86",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fromEmail": "harshita.agrawal634@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=Portfolio Overview ",
        "html": "=<p>Hello {{ $json.investor_name }},</p>\n<p>Please find your monthly porfolior report attached.</p>\n<p>Thank you,</p>\n<p>IvyCap Ventures</p>",
        "options": {
          "appendAttribution": false,
          "attachments": "=data"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1296,
        80
      ],
      "id": "07ef6491-9b66-4637-9c47-d91ceb74b5e7",
      "name": "Send email",
      "webhookId": "08be688d-42aa-41c9-ac29-04b447e86c8e",
      "credentials": {
        "smtp": {
          "id": "ih7t6AI2oEs6XDMY",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        96
      ],
      "id": "deaa49cf-21b0-41bc-a4bc-a1c28eda55fa",
      "name": "Merge",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "mWiLudySDyx3OYap"
  },
  "versionId": "2cb03623-e080-434f-9776-c8d700505231",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "94c9010bcf70bc0c72d747c17d6e01a8b71c6dc00ebdc6777e116e22964060cc"
  },
  "id": "mWiLudySDyx3OYap",
  "tags": []
}